name: workflow3

on: push

env:
  ARTIFACT_NAME: "hello-world"

jobs:
  job1:
    name: job_one
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.3.0

      - name: Create Artifact file
        run: |
          echo Hello World from me > $ARTIFACT_NAME.txt
          pwd

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          path: hello-world.txt
  job2:
    name: job_two
    needs: [job1]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: hello-file
          path: ./${ARTIFACT_NAME}.txt
